    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form role="form" class="form-inline" id="deck-controls">
            <div class="form-group">
              <a id="load" href="#">Load</a>
              <a id="save" href="#">Save</a>
              <a id="new" href="#">New</a>
            </div>
            <div class="form-group">
              <select name="deckName"></select>
            </div>
            <div class="form-group">
              <input type="text" name="name" placeholder="Save As" />
            </div>
            <div class="form-group">
              <a id="download" href="#">Download Decks</a>
            </div>
          </form>
        </div>
      </div>
      <div class="deck">
        <div class="row">
          <div class="col-md-3">
            <img id="preview" src="builder/images/back.jpg" width="233" height="310" />
          </div>
          <div class="col-md-9">
            <form class="form-inline">
              <div class="color-filters">
                <label>Black<input type="checkbox" name="black" class="color-filter" checked="checked"/></label>
                <label>Blue<input type="checkbox" name="blue" class="color-filter" checked="checked"/></label>
                <label>White<input type="checkbox" name="white" class="color-filter" checked="checked"/></label>
                <label>Green<input type="checkbox" name="green" class="color-filter" checked="checked"/></label>
                <label>Red<input type="checkbox" name="red" class="color-filter" checked="checked"/></label>
              </div>
              <div class="filter">
                <input type="text" name="filter" placeholder="Filter" />
              </div>
              <div>
                <select id="cardlist" size="10">
                </select>
              </div>
              <div class="buttons">
                <button id="addone">Add One</button>
                <button id="addfour">Add Four</button>
              </div>
              <div class="total">
                Total Cards: 0
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="table-view">
              <div class="row card-headers">
                <div class="col-md-2 creatures-header">
                  Creatures
                  <span>(0)</span>
                </div>
                <div class="col-md-2 spells-header">
                  Spells
                  <span>(0)</span>
                </div>
                <div class="col-md-2 artifacts-header">
                  Artifacts
                  <span>(0)</span>
                </div>
                <div class="col-md-2 enchantments-header">
                  Enchantments
                  <span>(0)</span>
                </div>
                <div class="col-md-2 lands-header">
                  Lands
                  <span>(0)</span>
                </div>
                <div class="col-md-2 planeswalkers-header">
                  Planeswalkers
                  <span>(0)</span>
                </div>
              </div>
              <div class="row boardlist">
                <!-- creatures -->
                <div class="col-md-2 creatures" data-type="creatures">
                </div>

                <!-- spells -->
                <div class="col-md-2 spells" data-type="spells">
                </div>

                <!-- artifacts -->
                <div class="col-md-2 artifacts" data-type="artifacts">
                </div>

                <!-- enchantments -->
                <div class="col-md-2 enchantments" data-type="enchantments">
                </div>

                <!-- lands -->
                <div class="col-md-2 lands" data-type="lands">
                </div>

                <!-- planeswalkers -->
                <div class="col-md-2 planeswalkers" data-type="planeswalkers">
                </div>
              </div>
              <div class="row trash">
                Trash
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
