
<!-- This is the layout for the instructions modal -->
<div class="modal-header">

    <!-- When you click the X at top right... close Modal -->
    <span class="close" ng-click="$dismiss()">&times;</span>

    <!-- Header for Modal -->
    <h2 align="center">Magic The Gathering Instructions</h2>

</div>

<!-- Modal Body Content -->
<div class="modal-body">
    <!-- Unordered list for the tabs on Modal -->
    <ul class="tab">

        <!-- Tabs -->
        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Basics')" id="defaultOpen">Game Basics</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Combat')">How Combat Works</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Spells')">Spells and Gameplay</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'CreateGame')">Create/Join Game</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Battlefield')">Battlefield</a></li>

    </ul>

    <!-- Basics Tab Content -->
    <div id="Basics" class="tabcontent">
        <br>
        <div class="Heading1">

          <span class="spanModalHeader">HOW TO PLAY</span>

        </div>
        <br><br>

        <!-- Basics Tab : Content -->
        <p><span class="spanModalSubHeader" >Defeat Your Opponent</span></p>

        <p><span class="spanModalText" >Each player starts the game with 20 life. Knock your opponent down to 0 life, and you win. The most common way to do this is to summon creatures and attack with them.</span></p>

        <p><span class="spanModalText" >Creature cards are the most important part of many Magic decks. They’re really easy to spot—just look at the lower right of a card. If you see a pair of numbers separated by a slash, you’ve got a creature card. Once it’s on the battlefield, a creature continues to attack and defend for you until your opponent can find a way to take it out.</span></p>

        <p><span class="spanModalText" >Most games become a race to see who can deal the most damage first. Summoning the best creatures will help you win that race every time. Check out the section on casting creature spells.</span></p>

        <center><img src="/learn/Images/modalPic2.png" alt="Defeat Pic" style="width:304px;height:228px;"></center>

        <p><span class="spanModalSubHeader" >Build Resources</span></p>

        <p><span class="spanModalText" >Casting spells is at the heart of all Magic games. Some creatures are small and fast, while others are powerful monstrosities of epic proportions. So how does it all balance out? That’s where mana comes in.</span></p>

        <p><span class="spanModalText" >Mana is the basic resource in Magic. Each card costs a certain amount of mana, and the more mana a card costs, the more powerful it usually is. Mana comes from land cards.</span></p>

        <p><span class="spanModalText" >Land cards have a distinctive look to them—you can see some here. You’ll want a lot of them in your Magic decks since they give you the mana to summon your creatures and cast other powerful spells. You can only play one land card per turn, and that’s where the balance comes in—the more epic the creature is, the longer it will take to summon!</span></p>

        <img src="/learn/Images/modalPic1.png" alt="Resources Pic" style="width:304px;height:228px;"><br>

        <p><span class="spanModalSubHeader" >Cool Spells</span></p>

        <p><span class="spanModalText" >Creature cards may be the rock stars of most Magic decks, but there are plenty of supporting players. Since creatures attack while on the battlefield, your opponent can adjust their strategy to counter them. Other spells, like sorceries and enchantments, can affect the game in powerful ways. And instant spells have the advantage of surprise. When cast at the right time, they can really put your opponent on the defensive.</span></p>

        <p><span class="spanModalText" >For example, say you’re attacking with a small creature, while your opponent has a large creature ready to block it. Normally, the larger creature would obliterate your smaller attacker. But you’ve got a trick up your sleeve: an instant spell called “Giant Growth.” As its name implies, it turns your little attacker into a force to be reckoned with, and now your opponent’s blocking creature is in serious trouble!</span></p>

        <br><img src="/learn/Images/modalPic3.png" alt="Cool Spells Pic" align="right" style="width:304px;height:228px;">

      </div>

      <div id="Combat" class="tabcontent">
        <br>

        <div class="Heading1">

          <span class="spanModalHeader" >How Combat Works</span>

        </div><br><br>

        <p><span class="spanModalSubHeader" >Attack With Creatures</span></p>

        <p><span class="spanModalText" >Summoning a seething horde of creatures is only half the task. If you want to win Magic games, you’ve got to attack!</span></p>

        <p><span class="spanModalText" >Your opponent starts the game with 20 life, so you’ll need to attack again and again over time to seal your victory. This is why creatures are such a good deal: they can potentially deal a ton of damage over time if left unchecked.</span></p>

        <p><span class="spanModalText" >It’s important to note that in combat, you can’t attack your opponent’s creatures directly. You always attack your opponent, and it’s up to him or her to decide how, or even if, to block. This means it’s a good idea to check the table before you attack and ask yourself how you would block if you were in your opponent’s seat.</span></p>

        <p><span class="spanModalText" >Since your opponent can block any way they see fit, there will always be a bit of mystery to how an attack will play out. That’s OK, just remember one simple rule: When in doubt, attack!</span></p>

        <img src="/learn/Images/ModalPic4.png" alt="Defeat Pic" style="width:304px;height:228px;">

        <p><span class="spanModalSubHeader" >Blocking The Attack</span></p>

        <p><span class="spanModalText" >Once you’ve decided to attack, your opponent gets to choose how to block your attack. Sometimes you’ll get off easy and your attack will go undefended. When that happens, your opponent will lose some life. Other times, your attack will run straight into a block by an opponent’s creature. And then the vicious creature-against-creature battle begins!</span></p>

        <p><span class="spanModalText" >You get several opportunities during combat to be tricky by casting instant spells or activating abilities: before attackers are chosen, just after attackers are chosen, or even after blockers are chosen. Casting an instant spell to boost your creature’s power or to take out a key opponent’s creature in the middle of combat can really wreck their plans. But keep in mind: they can do the same to you!</span></p>

        <center><img src="/learn/Images/ModalPic5.png" alt="Defeat Pic" style="width:304px;height:228px;"></center>

        <p><span class="spanModalSubHeader" >Dealing Damage</span></p>

        <p><span class="spanModalText" >Attacking and blocking creatures have been declared, and you and your opponent have used any nasty tricks you had up your sleeves. Now, it’s time to deal damage.</span></p>

        <p><span class="spanModalText" >Attacking creatures that didn’t get blocked will deal damage directly to your opponent—you’re that much closer to victory! If a creature was blocked, it deals damage to its blocker instead of your opponent. Blocking creatures deal their damage back to the creatures they blocked.</span></p>

        <p><span class="spanModalText" >If a creature is dealt damage at least equal to its toughness, it’s destroyed and sent to the ominous-sounding graveyard. (You may know it simply as the discard pile, but “graveyard” sounds so much cooler.)</span></p>

        <img src="/learn/Images/ModalPic6.png" alt="Defeat Pic" align="right" style="width:304px;height:228px;">

        <p><span class="spanModalSubHeader" >After Combat</span></p>

        <p><span class="spanModalText" >After combat ends, any creatures that survive remain on the battlefield to fight another day. That’s one of the reasons that creatures are such a popular way to achieve victory: they remain a powerful force on the battlefield until they’re destroyed.</span></p>

        <p><span class="spanModalText" >But don’t worry about keeping track of damage for too long—creatures heal at the end of every turn. If you have spells or other ways to deal damage, you can finish off wounded creatures before the end of the turn.</span></p>

        <center><img src="/learn/Images/ModalPic7.png" alt="Defeat Pic" style="width:304px;height:228px;"></center>

      </div>

      <div id="Spells" class="tabcontent"><br>

        <div class="Heading1">

          <span class="spanModalHeader" >Spells and Gameplay</span>

        </div><br><br>

        <p><span class="spanModalSubHeader" >Casting Spells</span></p>

        <p><span class="spanModalText" >During your Magic games, you’re going to be summoning creatures, sending them into battle, flinging spells back and forth—all while doing your best to thwart your opponent. The action will get intense from time to time, and that’s part of the fun! But knowing when you can cast something and when you can’t is important, and that’s where the parts of the turn come in..</span></p>

        <p><span class="spanModalText" >Magic’s turn sequence breaks down each player’s turn into phases to add order to the chaos. The phases always follow the same sequence, so you’ll get used to them after only a few games.</span></p>

        <p><span class="spanModalText" >The main phase is where you’ll do most of your dirty work, playing lands and casting spells. In fact, it’s such an important phase that you get two of them every turn. One happens before you attack with creatures, and the other happens right after combat.</span></p>

        <img src="/learn/Images/ModalPic8.png" alt="Defeat Pic" align="right" style="width:304px;height:228px;"><br>

        <p><span class="spanModalSubHeader" >The Rest of the Turn, Pt. 1</span></p>

        <p><span class="spanModalText" >Now that you’ve learned all about combat and the main phase, let’s check out the rest of the turn.</span></p>

        <p><span class="spanModalText" >Next up is the main phase. We’ve already covered this in another section. The quick version is that the main phase allows you to play a land card from your hand or cast spells.</span></p>

        <center><img src="/learn/Images/ModalPic9.png" alt="Defeat Pic" style="width:304px;height:228px;"></center>

        <p><span class="spanModalSubHeader" >The Rest of the Turn, Pt. 2</span></p>

        <p><span class="spanModalText" >The combat phase comes next, and this is when you’ll attack your opponent with your creatures. A creature can’t attack the first turn it’s on the battlefield, but if you had that creature when your turn began, it can attack!</span></p>

        <p><span class="spanModalText" >After combat, you’ll get a second main phase. If you didn’t play a land during your first main phase, you can do so now. You can also cast spells during this phase. It’s often a good idea to cast creature spells during your second main phase and not your first. This keeps your opponent working on as little information as possible—if you drop a large creature before your combat phase, it may change how they decide to block. And since you can’t attack with a creature on the first turn it’s on the battlefield, it’s often better to wait until the second main phase to cast that creature spell.</span></p>

        <center><img src="/learn/Images/ModalPic10.png" alt="Defeat Pic" style="width:304px;height:228px;"></center>

        <p><span class="spanModalSubHeader" >The Rest of the Turn, Pt. 3</span></p>

        <p><span class="spanModalText" >Finally, there’s the ending phase, and as its name implies, here is where the turn wraps up. There are two steps here. The end step is your last opportunity for anyone to cast instant spells or activate abilities before the turn ends. Often, if you have an instant spell you want to cast during your opponent’s turn, you’ll cast it during the end step to give them the least amount of time to react. Finally, there’s the cleanup step, where a little bit of housekeeping takes place. Creatures with lingering damage heal, and any abilities that say “until the end of the turn” end. Once you’re done with your ending phase, let your opponent know it’s time for their turn.</span></p>

        <p><span class="spanModalText" >That’s it! These five phases ensure that the turn flows smoothly, and the action is always moving forward.</span></p>

        <center><img src="/learn/Images/ModalPic11.png" alt="Defeat Pic" style="width:304px;height:228px;"></center>

        <p><span class="spanModalSubHeader" >Reading the Cards</span></p>

        <p><span class="spanModalText" >Your cards hold all the information you’ll need to use them in the game. Let’s take a look at how that information is laid out.</span></p>

        <p><span class="spanModalText" >1.  The name of the card can be found at the top of the card. Whenever you cast a spell, tell your opponent which card it is.</span></p>

        <p><span class="spanModalText" >2.  Next to the card’s name is its mana cost. This tells you how much mana it costs to cast that card.</span></p>

        <p><span class="spanModalText" >3.  In the middle, you’ll find the card type. When in doubt, take a look at the middle of the card to find out what type of card (creature, sorcery, enchantment, etc.) you’re dealing with.</span></p>

        <p><span class="spanModalText" >4.  That symbol on the right side of the middle bar is the card’s expansion symbol. Magic has released over 60 expansion sets in its 20-year history, and the expansion symbol tells you which set the card is from. The color of the expansion symbol tells you how rare the card is. Black expansion symbols are fairly common, while gold symbols are rare.</span></p>

        <p><span class="spanModalText" >5.  The box covering most of the bottom half of the card contains the card’s abilities. This is where you’ll learn what the card does in the game. Some cards have italicized flavor text, a look into the characters and worlds of Magic.</span></p>

        <p><span class="spanModalText" >6.  If the card is a creature, it will have two numbers near the bottom. The number before the slash is its power, or how much damage it deals in combat. The number after the slash is its toughness, how much damage must be dealt to it in a single turn to destroy it.</span></p>

        <p><span class="spanModalText" >7.  Finally, the very bottom of the card contains collector information. You’ll see the card’s collector number and illustration credit.</span></p>

        <p><span class="spanModalText" >This tour of a Magic card concludes with a few examples.</span></p>

        <img src="/learn/Images/ModalPic12.png" alt="Defeat Pic" align="left" style="width:500px;height:500px;">

      </div>

      <div id="Battlefield" class="tabcontent"><br>

        <div class="Heading1">

          <span class="spanModalHeader" >Battlefield</span>

        </div><br><br>

        <center><img src="/learn/Images/Battlefield.jpg" alt="Battle Pic"></center>

        <br><br>

        <p><span class="spanModalText" ><b>1. Instructions Modal </b>- This is the button you selected to get to this information. The modal offers players basic information on how to play Magic the Gathering.</span></p>

        <br>

        <img src="/learn/Images/DiceInt.png" alt="Battle Pic" align="right">
        <p><span class="spanModalText" ><b>2. Dice Roll </b>- Select this button to display different ways to roll a pair of dice or just one die. To roll only one die select the single die or to roll both dice then select the two. After selecting how many dice to use, select which type of dice you would like to roll (selecting which type of dice is required before leaving the dice roll button). Once you select the type of dice you would like to roll, the blank spaces to the right will display the outcome of the roll.</span></p>

        <br>

        <p><span class="spanModalText" ><b>3. Deck Builder</b> - This is the button you select to build your very own deck. The deck builder is where the player can select which cards are in his/her deck. After selecting which card you would ilke to add to your deck, the screen displays those cards under the category according to which card you have selected. Once you are done selecting which cards you want, you select "Save" and then type into the 'Save As' text box the name of the deck. Then, you select "Download Deck" and save the json file somewhere you will be able to find it later. You can also continue building decks you have already made after uploading the deck. Uploading a deck will be explained next.</span></p>

        <br>

        <p><span class="spanModalText" ><b>4. Deck Uploader - </b> This is the button you select to upload decks built via the deck builder. This is where you will browse for the deck you have built via the deck builder. Basically, you select 'Browse...' and the player locates the json file created and then clicks submit. Refresh your screen to have the upload be synced to your deck. The deck will then be uploaded to the battlefield within the 'Deck'. </span></p>

        <br>

        <p><span class="spanModalText" ><b>5. Life Counter</b> - Displays Players and Oppenents life points. Player can increase or decrease life points by clicking up or down arrows. Player can only view Opponents life points.</span></p>

        <br>

        <img src="/learn/Images/DeckRightClick.png" align="right">
        <p><span class="spanModalText" ><b>6. Deck - </b>These cards represent the two players decks. The cards on top represent the opponents deck and the cards on the bottom represent the players deck. The user can drag cards from his/her deck into his/her hand or battlefield. The user can also right click his/her deck to display a set of options. The options include: shuffle, look at deck, and unlook at deck.</span></p>

        <br>

        <p><span class="spanModalText" ><b>7 and 12. Player / Opponent Hand - </b>You, the player, can see that there are cards in the opponent hand but the player is not allowed to move, view, or manipulate the opponents hand in anyway. You are allowed to view, manipulate, and place cards into your hand.</b></span></p>

        <br>

        <p><span class="spanModalText" ><b>8. Graveyard -</b> This is your oppenents graveyard. Symmettrically, your graveyard is on the bottom right of the screen. You can drag and drop cards from and to you, the players, graveyard.</span></p>

        <br>

        <p><span class="spanModalText" ><b>9. Exile -</b> This is the exile pile. On the top is the opponents exile and on the bottom is the players. You the player can interact only with your exile pile.</b></span></p>

        <br>

        <img src="/learn/Images/FieldRightClick.png" align="right">
        <p><span class="spanModalText" ><b>10 and 11. Battlefield -</b> This is where you place your cards to play them against your opponent. You can rotate your card by left clicking the card, or you can right click for multiple options. These options include: adding a counter, removing a counter, flipping over the card, or Untapping all cards. </b></span></p>

      </div>

      <div id="CreateGame" class="tabcontent"><br>

        <div class="Heading1">

            <span class="spanModalHeader" >Create / Join Game</span>

        </div><br><br>

        <center><img src="/learn/Images/CreateJoin.png"></center>

        <p><span class="spanModalText" ><b>1. Create Game -</b> To start your game you must enter a table name. Once you have entered a table name, you must enter a username to use during the game. Once both of those are completed, the user must select 'Play'. The user will then be directed to the playing field.</span></p>

        <p><span class="spanModalText" ><b>2. Join Game -</b> To join a game, you must enter the table name or table id that you wish to join. You must then enter a Username to play the game with and select 'Play'.</span></p>

    
      </div>



      <script>
      
        function openTab(evt, Tab) {

            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");

            for (i = 0; i < tabcontent.length; i++){
                
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");

            for (i = 0; i < tablinks.length; i++) {

                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(Tab).style.display = "block";

            evt.currentTarget.className += " active";
        }

        //Open this tab right away
        document.getElementById("defaultOpen").click();

      </script>
</div>
