<div class="jumbotron text-center">
  <h1>Welcome to MTGip</h1>
</div>
<div ng-controller="FormCtrl">
  <form ng-submit="submit()">
    <div class="form-group">
      <label for="table">Table: </label>
      <input id="table" required type="text" class="form-control" ng-model="form.tableName" placeholder="Enter a name or id for your table" autofocus/>
    </div>
    <div class="form-group">
      <label for="username">Username: </label>
      <input id="username" required type="text" class="form-control" ng-model="form.userName" placeholder="Enter your name" />
    </div>
    <button class="btn btn-default" type="submit">Play!</button>
  </form>
</div>
