<!DOCTYPE html>
<html lang="en" ng-app="mtgipApp">
<head>
  <meta charset="utf-8">
  <base href="/">

  <title>MTGip</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="app.js"></script>
  <script src="home/component.js"></script>
  <script src="table/component.js"></script>
  <script src="table/service.js"></script>
  <script src="builder/component.js"></script>

  <link rel="stylesheet" type="text/css" href="style.css"/>

</head>
<body>
  <!-- Creates Nav Bar at top of website -->
  <nav id="navBar" ng-controller="NavCtrl">
      <!-- Creates a button for Instructions Modal -->
      <button class="exclamationButton" ui-sref="learn"></button>
      <!-- Div for Dice Buttons -->
      <div class="dropdown" ng-show="showDice">
        <!-- Creates the Dice button  -->
        <button id="diceButton" data-toggle="dropdown" aria-expanded="false" class="diceButton btn btn-primary"></button>
        <!-- Creates a dropdown list for Dice -->
        <ul class="dropdown-menu">

            <!-- Player selects to roll on die or two dice -->
            <a class="imgDie" display="inline-block" ng-click="oneDie()"></a>
            or
            <a class="imgDice" display="inline-block" ng-click="twoDie()"></a>
            <!-- Creates a divider bar -->
            <li class="divider"></li>
            <!-- List of different types of dice -->
            <li><a class="dropdown-Image" ng-click="rollDice(4);"><img src="/Images/D4.png">D4</a></li>
            <li><a class="dropdown-Image" ng-click="rollDice(6);"><img src="/Images/D6.png">D6</a></li>
            <li><a class="dropdown-Image" ng-click="rollDice(8);"><img src="/Images/D8.png">D8</a></li>
            <li><a class="dropdown-Image" ng-click="rollDice(10);"><img src="/Images/D10.png">D10</a></li>
            <li><a class="dropdown-Image" ng-click="rollDice(12);"><img src="/Images/D12.png">D12</a></li>
            <li><a class="dropdown-Image" ng-click="rollDice(20);"><img src="/Images/D20.png">D20</a></li>

        </ul>
      </div>
      <!-- Displays players roll outcome -->
      <div class ="roll-Display" ng-show="showDice">
        <!-- Calls to app.js roll function for roll values -->
        <div id="die1" class="dice">{{rollValue1}}</div>
        <div id="die2" class="dice">{{rollValue2}}</div>
      </div>
      
      <button class="btn btn-primary btn-md" ui-sref="builder">Deck Builder</button>
      <button type="button" ui-sref="uploader" class="btn btn-primary btn-md" ng-show="showUploader">Deck Uploader</button>
  </nav>

  <div ui-view></div>
</body>
</html>
