html, body {
    font-family: "Lucida Sans", sans-serif;
    margin:0px;
    min-height:100%;
    min-width:100%;
    /*border-bottom: 6px solid red;*/
}
.canvas {
  border: 1px solid #d3d3d3;
}
#navBar{
    background-color: #577167;
    margin:0px;
    width:100%;
    position: relative;
    padding: 3px 3px 3px 3px;
    height: 65px;
}
.exclamationButton {
    width: 15px;
    height: 45px;
    margin-left:20px;
    border: none;
    color: white;
    background: url(Images/ExclamationIcon.png) no-repeat;
}
.exclamationButton:hover {
    background: url(Images/ExclamationIcon2.png) no-repeat;
    cursor: pointer;
    border-image-width: 0px;
    width: 15px;
    height: 45px;
    margin-left:20px;
    border: none;
    color: white;
}
.dropdown{
	margin-left:50px;
	padding-top:5px;
	display: inline-block;
}
.diceButton{
	width: 58px;
    height: 43px;
    border: none;
    color: white;
    display: inline-block;
    background: url(Images/Dice.png) no-repeat;
}
.diceButton:hover {
	width: 58px;
    height: 43px;
    border: none;
    color: white;
    display: inline-block;
    background: url(Images/Dice2.png) no-repeat;
}
.dropdown-menu{
	min-width:175px;
}
.imgDie{
    width: 50px;
    height: 40px;
    margin-left:15px;
    margin-top:5px;
    cursor: pointer;
    border: none;
    color: white;
    display: inline-block;
    background: url(Images/Die.png) no-repeat;
}
.imgDice{
    width: 60px;
    height: 50px;
    cursor: pointer;
    margin-left:5px;
    margin-top:5px;
    border: none;
    color: white;
    display: inline-block;
    background: url(Images/Die2.png) no-repeat;
}
.dropdown-Image{
    cursor: pointer;
}
div.dice{
	float:left;
	width:30px;
	height: 28px;
	background:#F5F5F5;
	border:#999 1px solid;
	font-size:20px;
	text-align:center;
	margin:3px;
	display:inline-block;
}
.roll-Display{
	width:80px;
	height:28px;
	display:inline-block;
	padding-top:7px;
	margin-left:10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    overflow:auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

}

.modal-xl {
	height : 90%;
	width : 90%;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    word-wrap: break-word;
    color:black;
}

ul.tab {
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: none; display: inline-block;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}

ul.tab li a:focus, .active {background-color: #ccc;}

.tabcontent {
    display: block;
    padding: 6px 3% 15px 3%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.Heading1 {
    width: 100%;
    height: 20px;
    border-bottom: 5px solid black;
    text-align: center;
}

.spanModalHeader{
    font-size: 30px;
    background-color: white;
    padding: 0 30px;
    font-weight: bold;
}

.spanModalSubHeader{
    font-weight: bold;
    font-size: 25px;
    padding-right: 10px;
}

.spanModalText{
    font-size: 20px;
    padding-right: 10px;
}

#hideShowChat {
  position: relative;
  width: 60px;
  bottom: 925px;
  left: 1120px;
  background: white;
}

#textBox {
  position: relative;
	border:1px solid black;
	width: 350px;
	height: 150px;
	max-width: 350px;
	max-height: 150px;
	overflow-y: scroll;
  background: white;;
  bottom: 905px;
  left: 583px;
  opacity: 1;
}

#textLog {
	word-wrap: break-word;
}

#chatbox {
  position: relative;
	width: 370px;
	max-width: 370px;
	padding-top: 5px;
  bottom: 1110px;
  left: 1200px;
}

.customMenu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	padding: 0;
}

.customMenu li {
	padding: 8px 12px;
	cursor: pointer;
  list-style-type: none;
  transition: all .3s ease;
}

.customMenu li:hover {
  background-color: #DEF;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding-left: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

div.card img {
  width: 150px;
}

.cardType {
  height: 500px;
  max-height:500px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding:0px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

#cardlist {
  width: 100%;
}
#cardImg {
  padding-left:200px;
}

.trash {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.deck {
  max-height: 500px;
}

.row {
	margin-left: 5px;
	margin-right: 5px;
}
