<canvas id="canvas"  width="1580" height="880"></canvas>


<button type="button" id="hideShowChat" onclick="hideShowChat()">Hide</button>

<div class="container" id="textBox">
  <div id="textlog" ng-repeat="x in recievedMessage track by $index" align="left">{{x}}</div>
</div>

<form ng-submit="sendMessage(message)" id="chatbox" onsubmit="clearInput()">
  <input ng-model='message' style="width: 308px;">
  <button class="btn btn-default" type="submit">
    <i class="glyphicon glyphicon-send"></i>
  </button>
</form>


<ul class="customMenu">
  <li id="shuffle" data-action="shuffle" style="display: none">Shuffle</li>
  <li id="displayDeck" data-action="displayDeck" style="display: none">Look at Deck</li>
  <li id="unDisplayDeck" data-action="unDisplayDeck" style="display: none">Un-Look at Deck</li>
  <li id="addCounter" data-action="addCounter" style="display: none">Add Counter</li>
  <li id="removeCounter" data-action="removeCounter" style="display: none">Remove Counter</li>
  <li id="flipOver" data-action="flipOver" style="display: none">Flip Over</li>
  <li id="untapAll" data-action="untapAll" style="display: none">Untap All</li>
</ul>

<script type="text/javascript">
  function clearInput(){
    form = document.getElementById("chatbox");
    form.reset();
  }

  // Used for hiding and showing the chat box
  function hideShowChat() {
    var bool = document.getElementById("textBox");
    var button = document.getElementById("hideShowChat");

    if(bool.style.opacity == 1) {
      bool.style.opacity = 0;
      button.innerHTML = "Show";
    }
    else {
      bool.style.opacity = 1;
      button.innerHTML = "Hide";
      button.style.background = "white";
    }
  }
</script>
