<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">&times;</button>
  <h4 class="modal-title">Deck Uploader</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <input type="file" id="file" name="file"/>
    <button ng-click="submit()">Submit</button>
  </div>
</div>
